[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nltk = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
spacy = "*"
colorlog = "*"
tensorflow = "*"
tqdm = "*"
openai = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
